body {
    width: 80%;
    margin: auto;
}

#banner {
    background-image: url("./img/pattern.png");
    background-repeat: repeat;
    background-size: 275px 175px;
    background-color: hsl(216, 81%, 61%);
    height: 20%;
}

#logo {
    padding-top: 40px;
}