body {
    width: 800px;
    height: 1546px;
    margin: auto;
}

#banner {
    background-image: url("./img/pattern.png");
    background-repeat: repeat;
    background-size: 350px 170px;
    background-color: #15a2fa;
    height: 20%;
}

#logo {
    padding-top: 40px;
    width: 20%;
}

h1{
    margin-bottom: 0%;
}
.author{
    margin: 0%;
    padding-top: 0%;
}

#author_name{
    color: #15a2fa;
}

.grey_text{
    color: gray;
}

#date{
    font-size: 0.70rem;
    margin-bottom: 20px;
}

.Tim{
    width: 390px;
}

#Tim_speech{
    width: 420px;
    height: 280px;
}

#Tim_portrait{
    width: 370px;
    height: 280px;
}

.description{
    margin: 0%;
    font-size: 0.75rem;
}

ul{
    padding: 19px;
}

.highlight{
    background-color: yellow;
}

table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;

}

th {
    padding: 0%;
    text-align: left;
    background-color: #15a2fa;;
    color: white;
    margin-right: 20%;
}

.rowblue{
    background-color: #2eafff73;
}

.external_link{
    width: 200px;
}

.lorem{
    font-weight: bold;
    color: white;
    margin-top: 10px;
}

#lorem_mac{
    background-image: url(./img/monitor.jpg);
    background-size: contain;
    width: 200px;
    height: 133.33px;  
}

#lorem_graph{
    background-image: url(./img/graph.jpg);
    background-size: contain;
    width: 200px;
    height: 133.33px;  
}