body {
    width: 70%;
    margin: auto;
}

#banner {
    background-image: url("./img/pattern.png");
    background-repeat: repeat;
    background-size: 275px 175px;
    background-color: #15a2fa;
    height: 20%;
}

#logo {
    padding-top: 40px;
}

h1{
    margin-bottom: 0%;
}
.author{
    margin: 0%;
    padding-top: 0%;
}

#author_name{
    color: #15a2fa;
}

#author_data{
    color: gray;
}

#date{
    font-size: 0.70rem;
}